:root {
  --gold-main: #d4af37;
  --gold-dark: #aa8c2e;
  --bg-dark: #050505;
  --panel-bg: #0d0d0d;
  --border-gold: rgba(212, 175, 55, 0.2);
  --text-parchment: #f0ead6;
}

/* Reset total para evitar el descuajeringue */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text-parchment);
  overflow: hidden; /* Evita scrolls dobles */
}

/* Scrollbar estética estilo Origami */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: var(--gold-dark);
  border-radius: 10px;
}

.custom-scrollbar {
  overflow-y: auto;
} 